.admin-sidebar {
    padding: 40px;
    margin-right:20px;
}

.admin-sidebar ul {
    padding-top:15px;
}

.admin-sidebar ul li {
    padding-top:15px;
}

.admin-sidebar ul li span {
    padding-left:5px;
}

.question-rating {
    float: right;
}

.question-required {
    color: orangered;
}

.answer-group {
    padding: 15px;
}

.answer-group .custom-radio {
    margin-top:5px;
}

.btn-edit {
    color: green;
    background-color: rgba(0, 0, 0, 0);
    font-size: 12px;
}

.btn-delete {
    color: red;
    background-color: rgba(0, 0, 0, 0);
    font-size: 12px;
}

.container {
    margin-top: 100px;
    max-width: 1440px;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.question-number {
    height: 100px;
    float: left;
    padding: 0 40px 0 0;
    font-weight: 700;
    color: #007bff;
}

header h3 {
    font-size: 17px;
}

header h4 {
    font-size: 14px;
    color: #97a1b7;
}

.sign-up {
    text-align: center;
    text-decoration: none;
}